$background: #233a5e;
$text: #dee2de;
$fontsize: 30;
$imageheight: 600px;

#active-nav{
  text-decoration: underline;
}

%small-screen{
    text-align: center;
}

.carousel {
  height: $imageheight;}

.navbar-light {

  background-color: $background;
  .navbar-nav, .navbar-brand{
   color: $text;
 }
}




work {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

/* cv */
.cv [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.cv h4, .cv h6 {
  margin-bottom: 0;
}

.cv h4, .cv h6, .cv p {
  @extend %small-screen;
}

.cv [class*="row"]:last-of-type {
  border: none;
}

@media screen and (min-width: 768px) {
  .cv h4, .cv h6,  .cv p {
    text-align: left;
  }
}
